
.container {
background-color:transparent;
width: 300px;
height: 500px;
box-sizing: border-box;
padding: 2rem 0;

}
.containerform{
  background: url("../img/peakpx.jpg");
  background-size:cover;
  background-position: 80px;
  min-height: 700px;
  padding: 10px;
  display: flex;
  justify-content: space-around;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
 
}

.input[type=text], [type=number] {
   width: 250px;
height: .5rem;
margin: .7rem 0;
padding: 1rem;
transition: all .7s;
}

.input[type=text], [type=number] {
border-color: #721717;
background-color: #eaf8f5bb; 
border-radius: 10px;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::placeholder { color: rgb(231, 13, 24); }
.btn__submit {

background-color:  #eaf8f5de;
border-radius: 5px;
width: 100px;
height: 30px;
margin-left: 5px;
color:  rgb(231, 13, 24);
padding: .5px;
margin: .5rem 0 .3rem;
border-radius: 10px;
border: none;
font-weight: bold; 
}

.btn__submit:hover {
  background-color: blue;
  color: aliceblue;
}
.title{
  text-align: center;
  font-size: 30px;
  color: #EFEFEF;
  text-decoration:red overline;
}
.select{
  width: 250px;
  height: 30px;
  border-radius: 20px;
  margin: 10px;
  color: #cf4747;
  background-color: #eaf8f5bb; 
  border-color: #721717;

}
.select:hover{
  cursor:pointer;
  background-color: #dfdbdbda;
}

.textArea{
  box-shadow: inset 1px 2px 6px 5px #d6e6f567;
  border-radius: 5px;
  width: 250px;
  margin: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 90px;

}
.radio{
  width: 250px;
  margin-bottom: 8px;
}
.label{
  margin-top: 8px;
  color: white;
  font-size: 20px;
 text-decoration: red overline;
}

.err{
  color:rgb(231, 13, 24);
  font-family: monospace;
  font-size: 12px;
}