
:root {
  --color:rgba(255, 255, 255, 0.842);
}
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background: radial-gradient(#57b0ec,#126fda ,#2d3138);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.world {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: url("../img/img.png");
  background-size: cover;
  box-shadow: inset 0 0 20px #000,
              inset -40px -10px 20px rgba(3, 32, 56, 0.7);
  animation: world 8s linear infinite;
}

@keyframes world {
  0% {
      background-position-x: 0;
  }

  100% {
      background-position-x: -800px;
  }
}

h1{
  width: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color : var(--color);
  font-size: 70px;
  text-align: center;
  text-shadow:  0.1em 0.1em 0.04em rgb(15, 14, 29);
  
  animation: moverDerecha 1s ease-in;
}

  @keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
}

.linkHome {
text-decoration: none;
}
.btnHome:hover{
  color: black;
  background: var(--color);
  cursor: pointer;
}
  
@keyframes moverArriba{
  0%{
      opacity: 0;
      transform: translateY(100px);
  }
}


@media (max-width: 600px) {
.world{
  width: 350px;
  height: 350px;
}

 }