.paginadoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: sticky;
  top:0;
  padding-top: 10px;
  background-color: rgba(8, 8, 8, 0.923);
}

.ul {
  display: flex;
    list-style: none;
}

.paginadoContainer li:hover {
  -webkit-transform:scale(1.1);transform:scale(1.1);
  cursor: pointer;
  opacity: 0.9;
}


.paginadoContainer  ul li a{
  width: 30px;
  background-color: rgb(199, 197, 201);
  padding: 5px 10px;
  margin: 2px;
  border-radius: 3%;
  text-align: center;
  font-weight: bold;
  color: rgb(243, 57, 57);
}

.paginadoContainer  ul li a:active {
  font-weight: 900;
  border-color: #101010;
  background: #df3409da;
  color: #fff;
}

@media (max-width: 600px) {
.paginadoContainer{
overflow: auto;

}
.ul{
  width: 500px;
  overflow-x: auto;
}

}